{# src/Mdy/XlagendaBundle/Resources/views/Rubrique/add.html.twig #}

{% extends ("MdyXlagendaBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter une rubrique</h3>
{{form(form)}}
{% endblock %}