{# src/Mdy/XlagendaBundle/Resources/views/Rubrique/edit.html.twig #}

{% extends ("MdyXlagendaBundle::layout.html.twig") %}

{% block contenu %}
<h3>Modifier une rubrique</h3>
{{form(form)}}
{% endblock %}