{# src/Mdy/GstBundle/Resources/views/Gst/Internvention/assignation.html.twig #}

{% extends ("MdyGstBundle::layout.html.twig") %}

{% block contenu %}
	{% for message in app.session.flashbag.get('info') %}
		<p>{{ message }}</p>
	{% endfor %}
<h3>Assigner une équipe</h3>
{{form(form)}}
{% endblock %}

{% block javascripts %}

{% endblock %}