{# src/Mdy/UserBundle/Resources/views/User/add.html.twig #}

{% extends ("MdyUserBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter un utilisateur</h3>
{{form(form)}}
{% endblock %}