{# src/Mdy/UserBundle/Resources/views/User/edit.html.twig #}

{% extends ("MdyCoreBundle::layout.html.twig") %}

{% block contenu %}
<h3>Modifier un utilisateur</h3>
{{form(form)}}
{% endblock %}