{# src/Mdy/GstBundle/Resources/views/Gst/Remarque/add.html.twig #}

{% extends ("MdyGstBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter une remarque</h3>
{{form(form)}}
{% endblock %}