{# src/Mdy/XlagendaBundle/Resources/views/Contact/add.html.twig #}

{% extends ("MdyXlagendaBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter un contact</h3>
{{form(form)}}
{% endblock %}