{# src/Mdy/GstBundle/Resources/views/Notificator/echevin.html.twig #}

Une action est requise pour l'intervention n° {{ intervention.numero }}<br/>
Objet de la demande : {{ intervention.objet }}<br/>
Afin d'accéder directement à la note, <a href="{{url('mdy_gst_approuveIntervention', {'id': intervention.id})}}">cliquez ici</a>.