{# src/Mdy/GstBundle/Resources/views/Gst/Equipe/add.html.twig #}

{% extends ("MdyGstBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter une équipe</h3>
{{form(form)}}
{% endblock %}