{# src/Mdy/GstBundle/Resources/views/Gst/Equipe/add.html.twig #}

{% extends ("MdyGstBundle::layout.html.twig") %}

{% block contenu %}
<h3>supprimer une équipe</h3>
<p>Êtes vous certains de vouloir supprimer l'équipe : {{ equipe.nom }} ?</p>

<form action="{{ path('mdy_gst_removeEquipe', {'id': equipe.id}) }}" method="post">
<a href="{{ path('mdy_gst_listEquipe') }}" class="btn btn-success" role="button">Retour à la liste des équipes</a>
<input type="submit" value="Supprimer" class="btn btn-danger"/>
{{ form_rest(form) }}
</form>

{% endblock %}