{# src/Mdy/XlagendaBundle/Resources/views/Lieu/add.html.twig #}

{% extends ("MdyXlagendaBundle::layout.html.twig") %}

{% block contenu %}
<h3>Ajouter un lieu</h3>
{{form(form)}}
{% endblock %}