{# src/Mdy/XlagendaBundle/Resources/views/Lieu/edit.html.twig #}

{% extends ("MdyXlagendaBundle::layout.html.twig") %}

{% block contenu %}
<h3>Modifier un lieu</h3>
{{ form(form) }}
{% endblock %}