{# src/Mdy/GstBundle/Resources/views/Gst/Lieu/delete.html.twig #}

{% extends ("MdyGstBundle::layout.html.twig") %}

{% block contenu %}
<h3>Restaurer le lieu</h3>
<p>Êtes vous certains de vouloir restaurer le lieu : {{ lieu.nom }} ?</p>

<form action="{{ path('mdy_gst_restoreLieu', {'id': lieu.id}) }}" method="post">
<a href="{{ path('mdy_gst_listLieu') }}" class="btn btn-default" role="button">Retour à la liste des lieux</a>
<input type="submit" value="Restaurer" class="btn btn-primary"/>
{{ form_rest(form) }}
</form>

{% endblock %}